// SECCION HEADER-NOSOSTROS NUEVA VERSION -----------------------------------------------------------------------------


.header-nosotros {
    width: 100%;
    z-index: 3;
    // position: absolute;
    top: 0%;

    .menu {
        display: flex;
    }

    .nav-bar {
        display: none;
        width: 100%;
    }

    .logo {
        margin-left: 5%;
        margin-top: 2%;
        width: 13%;
        height: 55px;
        display: block;

    }

    .menu-list {
        margin-left: 0%;
        display: flex;
        justify-content: flex-end;
        background: transparent;
        margin-right: 20px;
        width: 100%;
        list-style: none;

        a {

            padding: 45px 28px;

            // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
            font-weight: 500;

            display: block;

            color: #4c4c4c;
            text-decoration: none;
        }

        :hover {
            color: #fc7617;
        }
    }
}




// SECCION CONTAINER NUEVA VERSION -----------------------------------------------------------------------------

.nosotros-container {
    display: flex;
    flex-direction: column;

    .intro-nosotros {
        font-weight: 400;
        padding: 3% 5%;
        margin: 1%;
        border-radius: 10px;
        text-align: justify;
        line-height: 1.5;
    }

    .box-par {
        display: flex;
        flex-direction: row;

        .square {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            figure {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                cursor: pointer;

                .capa-title {
                    width: 100%;
                    height: 100%;
                    transition: all 500ms ease-out;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    h3 {
                        position: absolute;
                        top: 45%;
                        left: 20%;
                        color: #009AD2;
                        text-shadow: 3px 2px 1px #000;
                        font-weight: bold;
                        font-size: 45px;
                        transition: all 200ms ease-out;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    }

                    .title-small {
                        left: 28%;
                    }
                }

                .capa-detailed {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    transition: all 500ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;


                    p,
                    ul {
                        color: white;
                        font-size: 20px;
                        line-height: 1.2;
                        width: 100%;
                        max-width: 350px;
                        margin: 10% 20%;
                        text-align: justify;
                        transition: all 1000ms ease-out;
                    }

                    .detailed-small {
                        margin-left: 25%;
                    }
                }
            }

            figure:hover>.capa-detailed {
                opacity: 1;
                visibility: visible;

            }

            figure:hover>img {
                transform: scale(1.1);
            }


            figure:hover>.capa-detailed p {
                margin-top: 150px;
                margin-bottom: 15px;

            }

            figure:hover>.capa-detailed ul {
                margin-top: 150px;
                margin-bottom: 15px;

            }

            figure:hover>.capa-title h3 {
                opacity: 0;
                // visibility: visible;

            }
        }


        // img{
        //     width: 100%;
        // }
    }
}

/// estilos de servicios
.servicios-container {
    display: flex;
    flex-direction: column;

    .box-par {
        display: flex;
        flex-direction: row;

        .square {
            width: 100%;
            height: 120vh;
            display: flex;
            justify-content: center;
            align-items: center;




            figure {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;

                mask-repeat: unset;

                img {
                    width: 100%;
                    height: 100%;
                    transition: all 500ms ease-out;
                }

                .capa-detailed {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(29, 123, 211, 0.659);
                    transition: all 500ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;

                    .capa1 {

                        margin-top: 150%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .capa-icon {

                            background-color: white;
                            width: 11%;
                            height: 33px;
                            border-radius: 50%;
                            align-items: center;
                            margin-right: 15px;

                            h2 {
                                color: white;
                                font-size: 130%;
                                margin-bottom: 3px;
                            }


                            i {
                                color: #A1A39E;
                                padding-top: 20%;

                            }
                        }



                        h2 {
                            color: white;
                            font-size: 150%;
                            margin-bottom: 3px;
                        }

                        a {
                            color: #ffffff;
                            display: block;
                            text-decoration: none;
                            padding-top: 7%;
                            font-size: 15px;
                            display: flex;
                            justify-content: center;

                            .quotationService {
                                background-color: #009AD2;
                                height: 20px;
                                width: 40%;
                                border-radius: 25px;
                                padding-left: 2%;
                            }
                        }

                    }




                }
            }

            figure:hover>.capa-detailed {
                opacity: 1;
                visibility: visible;

            }

            // figure:hover>img {
            //     transform: scale(1.1);
            // }



        }


        // img{
        //     width: 100%;
        // }
    }
}

@media screen and (max-width: 800px) {
    main {
        padding: 0;
        margin-top: 20%;
    }

    .header-nosotros {
        width: 100%;
        z-index: 3;
        position: absolute;
        top: 0%;
        margin: 0;
        margin-left: 0;

        .nav-bar {
            background: #5cbcdf;
            padding: 15px;
            display: block;
            color: white;
            cursor: pointer;
            font-size: 1.5rem;
            width: 100%;
        }

        .menu-list {
            list-style: none;
            padding: 0;
            display: block;
            margin: 0;
            background: #555;
            width: 100%;
            margin-left: -100%;
            transition: all 0.5s;

            a {
                display: block;
                padding: 20px;
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
        }

        .logo {
            display: none;
        }

        .mostrar {
            margin-left: 0;
        }


    }

    .nosotros-container .box-par {
        flex-direction: column;

        .square {
            width: 100%;

            figure {
                .capa-title {

                    h3,
                    .title-small {
                        top: 25%;
                        left: 20%;
                    }
                }

                .capa-detailed {

                    p,
                    ul {
                        margin: 5% 10%;
                        font-size: 15px;
                        width: 80%;
                    }

                    .detailed-small {
                        margin-left: 10%;
                    }
                }
            }

            figure:hover>.capa-detailed p {
                margin-top: 70px;
                margin-bottom: 15px;


            }

            figure:hover>.capa-detailed ul {
                margin-top: 70px;
                margin-bottom: 15px;
            }

        }
    }

    // seccion de servicios
    .servicios-container{ 
        .box-par {
        flex-direction: column;
        align-items: center;

         .square {
             height: 90vh;
             width: 90%;
             margin-bottom: 15px;
             figure .capa-detailed .capa1{
                 margin-top: 50%;
             }
         }
    }
}




}