// Nueva version de vista proyectos - GALERIA
.hide {
    display: none;
}

.show {
    display: block;
}

.projects-gallery-container {
    display: flex;
    flex-direction: column;

    .box-par {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .square {
            width: 25%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            figure {
                position: relative;
                width: 100%;
                height: 50vh;
                overflow: hidden;
                cursor: pointer;

                .img-carrusel {
                    width: 100%;
                    height: 100%;
                    transition: all 500ms ease-out;
                }

                .capa-detailed {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    transition: all 500ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;

                    .capa1 {

                        margin-top: 45%;
                        display: flex;
                        justify-content: center;

                        .capa-icon {
                            background-color: white;
                            width: 11%;
                            height: 33px;
                            border-radius: 50%;
                            align-items: center;
                            margin-right: 15px;

                            button {
                                border: 0;
                                background: white;
                                margin-top: 20%;
                            }

                            i {
                                color: #A1A39E;
                                padding-top: 20%;
                            }
                        }


                    }

                    .capa2 {

                        margin-top: 25%;

                        padding-left: 5%;

                        .title-project {
                            color: #009AD2;
                            font-weight: bold;
                            font-size: 18px;
                        }
                    }

                    h3 {
                        color: #009AD2;
                        font-weight: 700;
                        font-size: 25px;
                        margin-bottom: 300px;
                        transition: all 1000ms ease-out;
                        margin-top: 30px;
                    }

                    p {
                        color: white;
                        font-size: 15px;
                        line-height: 1.2;
                        width: 100%;
                        max-width: 350px;
                        margin: auto;
                        text-align: justify;
                    }
                }
            }

            figure:hover>.capa-detailed {
                opacity: 1;
                visibility: visible;

            }

            figure:hover>img {
                transform: scale(1.1);
            }


            figure:hover>.capa-detailed h3 {
                margin-top: 150px;
                margin-bottom: 15px;

            }
        }


        // img{
        //     width: 100%;
        // }
    }
}



// Nueva version de vista proyectos - individual
.single-project {

    .head-project {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3% 5%;
        background: #f4f4f4;

        h1 {
            color: #fc7617;
            font-size: 25px;
            font-weight: bold;
        }

        div {
            margin-top: 1%;

            i {
                color: #fc7617;
            }

            a {
                text-decoration: none;
                color: #4c4c4c;

            }
        }


    }

    .box-img {

        width: 100%;
        height: 80vh;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .box-img-service {

        width: 100%;
        height: 80vh;

        img {
            width: 100%;
            height: 100%;
        }

    }


    .text-project {
        background: white;
        padding: 5% 8%;
        font-size: 14px;
        color: #5f5f5f;
        font-weight: 600;
    }

    .service-container {
        background: white;
        font-size: 15px;
        color: #5f5f5f;
        font-weight: 600;

        .content-service {
            display: flex;
            justify-content: space-around;
            margin: 6% 10% 3% 10%;

            .column-first {
                width: 55%;
                padding: 0% 8%;

                p {
                    text-align: justify;
                    line-height: 1.4;
                    margin-bottom: 12%;
                }

                h3 {
                    background: #fc7617;
                    color: white;
                    padding-left: 2%;
                    margin-bottom: 3%;
                    font-weight: 300;
                }

                .colored-p {
                    color: #fc7617;
                    text-align: justify;
                    line-height: 1.4;
                    margin-bottom: 5%;
                }

                .box-list {
                    display: flex;
                    justify-content: space-between;

                    ul {
                        padding-left: 4%;
                    }
                }
            }

            .column-second {
                width: 45%;
                padding: 0% 5%;

                p {
                    background: #eaeaea;
                    border-radius: 5%;

                    width: 100%;

                    padding: 6%;
                    text-align: justify;
                    line-height: 1.5;

                }



                .img-small {
                    margin-top: 15%;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .img-small-a {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .box-btn-service {

            display: flex;
            justify-content: center;

            .btn-service {
                background-color: #009AD2;
                height: 25px;
                width: 140px;
                border-radius: 15px;
                outline: none;
                border: 0;
                cursor: pointer;
                color: white;
                font-size: 18px;
                margin-bottom: 5%;
                padding-left: 10px;
                text-decoration: none;
            }

            .btn-service:hover {
                box-shadow: 1px 5px #888888
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .single-project {
        .box-img-service {
            width: 100%;
            height: 40vh;
        }

        .service-container .content-service {
            flex-direction: column;

            .column-first,
            .column-second {
                width: 100%;
            }

            .column-second p {
                margin-top: 10px;
            }
        }

        .box-img{
            height: 60vh;
        }
    }
    .projects-gallery-container .box-par .square {
        width: 100%;
    }
}

















// .portada {
//     background-repeat: no-repeat;
//     // height:100px;
//     width: 100%;
//     background-position: center;

// }

// .projects-galery{
//     width: 100%;
//     height: 600px;
//     padding-top: 3%;

//     .box-line{
//         width: 20%;
//         background-color: rgb(158,160,167);
//         height: 50px;
//         display: flex;
//         align-items: center;
//         padding-left: 1%;
//         border-radius: 0px 15px 15px 0px;
//         color: white;
//         font-size: 20px;
//     }

//     .box-card-projects{
//         width: 100%;
//         height: 80%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-evenly;
//         align-items: center;

//         .card-project{
//             background-color: white;
//             height: 80%;
//             width: 22%;

//             .img-project{
//                 width: 100%;             
//             }

//             .name-project{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 height: 18%;
//                 font-weight: 600;            
//             }

//             .description{
//                 font-size: 12px;
//                 padding-top: 10px;
//             }

//         }

//         .card-project:hover {
//             transform: scale(1.1);
//             transition: 1s;
//         }
//     }

//     .box-link-projects{
//         display: flex;
//         justify-content: flex-end;
//         padding-right:  5%;

//         a{
//             color: rgb(249, 106, 27);;
//             font-weight: bold;
//             text-decoration: none;
//         }
//     }


// }

// .container-proyectos{
//     background: #F1FAFB;
//     padding-top: 5%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;


//     .box-proyectos{
//         width: 100%;
//         display: flex;
//        flex-wrap: wrap;
//         align-items: center;
//         justify-content: center;

//         .card-proyecto{
//             width: 25%;
//             height: 60vh;
//             margin: 2%;


//             img{
//                 width: 100%;
//                 height: 45vh;
//                 border-radius: 15px 15px 0 0;
//             }

//             .info-proyecto{
//                 background:	#71c3db;
//                 height: 13vh;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//             }
//         }

//         .card-proyecto:hover {
//             transform: scale(1.1);
//             transition: 0.5;
//         }
//     }
// }


// .title{
//     color: #009AD2;
//     padding: 2%;
// }

// .container-mapa{
//     background:  #d9e3e4;
//     display: flex;
//     flex-direction: column;
//     align-items: center;


//     .box-mapa{
//         margin: 0 1% 4% 1%;
//         width: 90%;
//         height: 400px;
//         .mapa{
//             width: 80%;
//             height: 100%;
//             margin-left: 10%;
//             border: 2px solid rgb(25, 142, 196); 
//             border-radius: 15px;
//         }
//     }
// }