// Nueva version de vista proyectos - individual
.single-project {
    background: #f4f4f4;

    .head-project {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3% 5%;

        h1 {
            color: #fc7617;
            font-size: 27px;
            font-weight: bold;
        }

        div {
            margin-top: 1%;

            i {
                color: #fc7617;
            }

            a {
                text-decoration: none;
                color: #4c4c4c;

            }
        }


    }

    img{
        width: 100%;
    }

    .text-project{
        background: white;
        padding: 5% 8%;
        font-size: 14px;
        color: #5f5f5f;
        font-weight: 600;
    }
}


















// .portada {
//     background-repeat: no-repeat;
//     // height:100px;
//     width: 100%;
//     background-position: center;

// }

// .projects-galery{
//     width: 100%;
//     height: 600px;
//     padding-top: 3%;

//     .box-line{
//         width: 20%;
//         background-color: rgb(158,160,167);
//         height: 50px;
//         display: flex;
//         align-items: center;
//         padding-left: 1%;
//         border-radius: 0px 15px 15px 0px;
//         color: white;
//         font-size: 20px;
//     }

//     .box-card-projects{
//         width: 100%;
//         height: 80%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-evenly;
//         align-items: center;

//         .card-project{
//             background-color: white;
//             height: 80%;
//             width: 22%;

//             .img-project{
//                 width: 100%;             
//             }

//             .name-project{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 height: 18%;
//                 font-weight: 600;            
//             }

//             .description{
//                 font-size: 12px;
//                 padding-top: 10px;
//             }

//         }

//         .card-project:hover {
//             transform: scale(1.1);
//             transition: 1s;
//         }
//     }

//     .box-link-projects{
//         display: flex;
//         justify-content: flex-end;
//         padding-right:  5%;

//         a{
//             color: rgb(249, 106, 27);;
//             font-weight: bold;
//             text-decoration: none;
//         }
//     }


// }

// .container-proyectos{
//     background: #F1FAFB;
//     padding-top: 5%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;


//     .box-proyectos{
//         width: 100%;
//         display: flex;
//        flex-wrap: wrap;
//         align-items: center;
//         justify-content: center;

//         .card-proyecto{
//             width: 25%;
//             height: 60vh;
//             margin: 2%;


//             img{
//                 width: 100%;
//                 height: 45vh;
//                 border-radius: 15px 15px 0 0;
//             }

//             .info-proyecto{
//                 background:	#71c3db;
//                 height: 13vh;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//             }
//         }

//         .card-proyecto:hover {
//             transform: scale(1.1);
//             transition: 0.5;
//         }
//     }
// }


// .title{
//     color: #009AD2;
//     padding: 2%;
// }

// .container-mapa{
//     background:  #d9e3e4;
//     display: flex;
//     flex-direction: column;
//     align-items: center;


//     .box-mapa{
//         margin: 0 1% 4% 1%;
//         width: 90%;
//         height: 400px;
//         .mapa{
//             width: 80%;
//             height: 100%;
//             margin-left: 10%;
//             border: 2px solid rgb(25, 142, 196); 
//             border-radius: 15px;
//         }
//     }
// }