// galeria de fotos del home -----------------------------------------------------------------------------

.slider-fotos {
    width: 100%;
    margin: auto;
    overflow: hidden;

    ul {
        display: flex;
        padding: 0%;
        width: 400%;

        animation: cambio 20s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }

    li {
        list-style: none;
        width: 100%;

        img {
            width: 100%;
            height: 90%;
            padding-top: 5%;
        }
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}

// .contenedorVideo {
    // opacity: 0;
    // visibility: hidden;
    // position: fixed;
    // z-index: 1000;
    // width: 100%;
    // height: 100vh;
    // top: 0;
    // left: 0;
    // background: rgba(0, 0, 0, 0.5);
    // display: flex;
    // justify-content: center;
    // align-items: center;

//     .pantallaVideo {
//         width: 70%;
//         height: 80%;
//         background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
//         // overflow: hidden;
//         text-align: center;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         position: relative;
//         transition: transform 0.8s;
//         transform: translateY(0%);
//         border-radius: 10px;
//         padding: 10px;
//         position: relative;
//         padding-bottom: 86.25%;

//         iframe,
//         object,
//         embed {
//             position: absolute;
//             top: 30px;
//             left: 4%;
//             width: 93%;
//             height: 90%;
//         }

//         .closeVideo {
//             position: absolute;
//             top: 5px;
//             right: 5px;
//             display: inline-block;
//             width: 25px;
//             height: 25px;
//             background: cornflowerblue;
//             cursor: pointer;
//             line-height: 25px;
//             border-radius: 50%;
//         }
//     }

//     .modal-closeVideo {
//         transform: translateY(-200%);
//     }

// }

.contenedorVideo {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
   

    .pantallaVideo{
        position: relative;
        padding-bottom: 86.25%;
        
    .closeVideo {
        font-size: 2em;
        cursor: pointer;
        margin-left: 88%;
        margin-right: 9%;
        margin-top: 4%;
        color: rgba(24, 175, 235, 0.945);
        font-weight: bold;

    }
        }
        
        .pantallaVideo iframe,
        .pantallaVideo object,
        .pantallaVideo embed {
          position: absolute;
          top: 80px;
          left: 15%;
          width: 71%;
          height: 40%;
        }

        
  
    
  }

  



// section lema -----------------------------------------------------------------------------

.lema {
    width: 100%;
    // height: 120px;
    background: #fff;
    // border-top: 5px solid #676767;
    // border: 5px solid #676767;


    p {
        font-size: 32px;
        padding: 2% 10%;
        font-family: 'Courgette', cursive;
    }
}

// video estatico

.contenedorVid{
    width: 100%;    
    height: 580px;



    .videoUrl{
        width: 100%;
        // width: 90%;
        // margin-left: 5%;
        iframe{
        width: 100%;
        height: 580px;
        }
    }
}

// section servicios -----------------------------------------------------------------------------

.servicios {
    background: #F1FAFB;
    padding: 2%;
   


    

    .title {
        color: #009AD2;
        font-size: 195%;
        font-weight: bold;
    }

    
    .grafico{
        width: 45%;
        margin: 2% 0 2% 30%;
    }

    .ruleta{
        margin-left: 25%;
    }

    .box-services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        padding: 5%;


        .box-btn {
            width: 22%;

            .div-servicios {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2%;

                :hover {
                    transform: scale(1.1);
                    transition: 0.5;
                }

                .cta {
                    width: 95%;

                    .btn-imagen {
                        width: 70%;
                        margin-bottom: 15px;
                        border-radius: 50%;
                        border: 1px solid orange;
                        cursor: pointer;
                        outline: none;
                        box-shadow: 3px 10px 17px 3px rgba(0, 0, 0, 0.75);

                        :hover {
                            background: rgb(95, 102, 105);
                        }
                    }
                }


            }


        }
    }

    .modal-container {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .modal {
            width: 55%;
            height: 65%;
            background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            // overflow: hidden;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            transition: transform 0.8s;
            transform: translateY(0%);
            border-radius: 10px;
            padding: 10px;

            img {
                width: 50%;
                margin-left: 25%;
            }

            .close {
                position: absolute;
                top: 5px;
                right: 5px;
                display: inline-block;
                width: 25px;
                height: 25px;
                background: cornflowerblue;
                cursor: pointer;
                line-height: 25px;
                border-radius: 50%;
            }
        }

        .modal-close {
            transform: translateY(-200%);
        }

    }


}


// section informacion-----------------------------------------------------------------------------

.informacion{
    background: #d9e3e4;
    height: 95vh;

        .title {
            color: #009AD2;
            font-size: 195%;
            font-weight: bold;
            padding: 2% 0 1% 2%;
        }

        .text-desc{
            margin-left: 60px;
        }

}
.slider{
    width: 800px;
    height: 400px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    top: 25px;

    justify-content: center;
    align-items: flex-end;

    box-shadow: 0 0 0 10px white,
                0 0 0 12px;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.7s;
    }

    p{
        color: #fff;
        position: absolute;
       
        opacity: 0;
    }

    input{
      display: none;

        
    }

    input:checked ~ img {
        opacity: 1;
    }

    input + label{
        position: relative;
        z-index: 50;
        margin: 10px;

        display: block;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        border: 2px solid black;
    }

    input:checked + label {
        background: black;
        border: 2px solid #fff;
        cursor: pointer;
    }

}


// section clientes -----------------------------------------------------------------------------

.clientes {
    padding: 2%;
    // background: #bac2c5ad;
    background: #fff;

    p {
        color: #009AD2;
        font-size: 195%;
        font-weight: bold;
        padding-bottom: 15px;
    }

    .box-clientes {
        display: flex;

        justify-content: center;

        img{
            width: 45%;
        }
    }
}