* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}


.hide{
    display: none;
}


.container-noticias{
    height: 100vh;
    background-image: url(../assets/imax-background.png);
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;


    .header-intranet{
        width: 20%;
        height: 100vh;
        background: rgba(0,175,239,.4);

        .menu{
            width: 100%;
            height: 100%;

            .logo{
                width: 50%;
                margin: 25px 0px 25px 70px;
            }

           

            
                li{
                    list-style: none;
                    line-height: 70px;
                    border-top: .5px solid rgba(69,69,69,.6);
                    font-weight: 700;
                    font-size: 1.3rem;
                    padding: 0 20px;

                    .btn-go-boletas, .btn-go-const {
                        padding: 0;   
                        a{
                            text-decoration: none;
                            color: #1b1b1b;
                        
                    }       
                    }
                }
                a{
                    text-decoration: none;
                    color: #1b1b1b;
                
            }
            
        }
    }

    .box-noticias{
        width: 85%;
        display: flex;
        justify-content: center;

        .column-noticias{
            display: flex;
            flex-direction: column;
            background:  #F3F3F3 ;
            width: 75%;

            
        .title-noticias{
            background: rgba(140,140,140,.8);
            margin: 20px 0px;
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                font-weight: 700;
                font-size: 1.3rem;
                padding: 15px;
            }
            }
        }

        .create-post{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 2% 10% 2%  2% ;
            border-bottom: .5px solid rgba(69,69,69,.6);

            .writePost {
               
                width: 75%;
            

                .textarea{
                    width: 100%;
                    background: #AEB6B8;
                    border-radius: 15px;
                    padding: 0.8em;
                    outline: none;
                }
            }

            .box-publicar{
                width: 75%;
                display: flex;
                justify-content: space-between;

                .addImg{
                    display:none;
                }

                .btnPost{
                    border-radius: 9px;
                    width: 30%;
                    padding: 5px 0;
                    color: rgb(255, 255, 255);
                    font-family: "Pridi",gitserif;
                    font-size: 20px;
                    height: 35px;
                    font-weight: 700;
                    outline: none;
                    border: none;
                    background-color: #00ADEF;
                }

                .btnPost:hover {
                    color: rgba(255, 255, 255, 1) !important;
                    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
                    transition: all 0.2s ease;
                  }
            }

          
        }

        .container-post{
            padding: 2% 0;
           

            .posts{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
            
            .box-post{
                list-style: none;
                line-height: 30px;
                // border-bottom: .5px solid rgba(69,69,69,.6);
                border: 1px solid rgba(69,69,69,.6);
                border-radius: 15px;
                margin: 10px;
                width: 80%;
                padding: 2% 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        }

    
    }
}