.portada {
    background-repeat: no-repeat;
    // height:100px;
    width: 100%;
    background-position: center;

}

.container-proyectos{
    background: #F1FAFB;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
   

    .box-proyectos{
        width: 100%;
        display: flex;
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .card-proyecto{
            width: 28%;
            height: 60vh;
            border: 2px solid black; 
            margin: 1% 2%;

            img{
                width: 100%;
                height: 45vh;
            }

            .info-proyecto{
                background:	#71c3db;
                height: 13vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.title{
    color: #009AD2;
    padding: 2%;
}

.container-mapa{
    background:  #d9e3e4;
    display: flex;
    flex-direction: column;
    align-items: center;


    .box-mapa{
        margin: 0 1% 4% 1%;
        width: 90%;
        height: 400px;
        .mapa{
            width: 80%;
            height: 100%;
            margin-left: 10%;
            border: 2px solid black; 
            border-radius: 15px;
        }
    }
}