// section staff -----------------------------------------------------------------------------

.staff {
    padding: 2%;
    background: #F1FAFB;

    .portada-staff h2 {
        margin-left: 40%;
    }

    h2 {
        color: #009AD2;
    }

    .box-staff1 {
        display: flex;
        justify-content: flex-start;
        
    }

 
}

.staff .descrip-staff {
    width: 50%;
    padding: 2%;
    background:#c4c4c2;
    margin: 2%;
   

    h2 {
        margin-left: 25%;
    }


    img{
        width: 40%;
    }
}