@import "./style-view/home";
@import "./style-view/nosotros";
@import "./style-view/staff";
@import "./style-view/contacto";
@import "./style-view/proyectos";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.body-web{
    background:	#71c3db;
}

#container {
    // background-image: url(../../assets/imax-background.jpg);
    // background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: cover;
    padding: 0 8%;
    
}

.menu-bar {
    display: none;
}

.header-web {
    width: 84%;
    position: fixed;
    background: #ffffff;
    /* padding: 0 8%; */
    margin-left: 8%;


    nav {
        background: #8c8c8b;
        // border: 1px solid orange;
        z-index: 1000;
        max-width: 100%;
        width: 100%;
        height: 55px;
        // margin: 0 20% auto;


        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;

            li {
                display: inline-block;
                position: relative;

                a {
                    color: white;
                    display: block;
                    text-decoration: none;
                    padding: 15px 30px;
                }

                .intranet{
                    width: 80%;
                }

                :hover {
                    background: rgb(95, 102, 105);

                    .children {
                        display: block;
                    }
                }
            }
        }

        .logo {
            margin-left: 5%;
            width: 14%;

        }
    }

    nav ul li:hover .children {
        display: block;
    }

    nav ul li .children {
        display: none;
        background: #A1A39E;
        position: absolute;
        width: 140%;
        z-index: 1000;

        li {
            display: block;
            overflow: hidden;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
        }

        li a {
            display: block;
        }
    }
}


.contenedorSubir {
    position: fixed;
    bottom: 40px;
    right: 0px;
    width: 60px;
    height: 60px;
    z-index: -1;
}

.botonSubir {
    width: 0px;
    height: 0px;
    background: #eaecec;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.botonSubir img {
    position: absolute;
    font-size: 25px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .botonSubir {
    animation: popup .3s ease-in-out;
    width: 66px;
    height: 66px;
    z-index: 11;
}

.show img {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0px;
        height: 0px;
    }

    50% {
        width: 80px;
        height: 80px;
    }

    100% {
        width: 66px;
        height: 66px;
    }
}



// section footer -----------------------------------------------------------------------------
.footerPage {
    background:#a5a59e;
    padding-top: 2%;
    margin: 0 8%;

    .fooFirst {
        display: flex;
        flex-direction: row;

        .boxLogo {
            width: 35%;
            padding: 5% 6%;
        }

        .boxContacto {
            width: 40%;
        }

        .boxRedes {
            width: 25%;
         

            img{
               padding: 9px;
            }
        }
    }

    .fooSecond {
        background: #a5a59e;

        .copy {
            margin-left: 35%;
            font-weight: bold;
            font-size: 12px;
            background: #a5a59e;
        }
    }



}






// style mobile -----------------------------------------------------------------------------
@media screen and (max-width: 800px) {

    .body-web    {
        padding-top: 60px;

        .title {
            font-size: 135%;
        }
    }

    #container{
        padding: 0;
    }

    .menu-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #5cbcdf;

        .bt-menu {
            display: block;
            padding: 12px;
            color: white;
            overflow: hidden;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            // background-image: url(../assets/logo.png);
            // background-repeat: no-repeat;
        }

        .iconMenu {
            float: right;
            font-size: 30px;

        }
    }

    .header-web {
        margin: 0;
        margin-left: 0;
    }

    .header-web  nav {
        width: 80%;
        height: calc(100% - 60px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;

        ul {
            width: 100%;
        }

        ul li {
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, .5);

            a {
                display: block;
            }

            .children {
                width: 100%;
                position: relative;
            }

            .children li a {
                margin-left: 20px;
            }
        }

        li:hover .children {
            display: none;
        }
    }

    .logo {
        display: none;
    }


    .lema p {
        font-size: 18px;

    }

    .servicios .title {
        font-size: 135%;
    }

    .servicios .box-services {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .box-btn {
            width: 80%;
            margin: 2% 0;

            .div-servicios .btn-imagen {
                width: 60%;
            }
        }
    }

    .course-banner {
        img {
            width: 100%;
            height: 250px;
            padding-top: 0%; 
        }

        .circle-overlay {
            bottom: calc((10vw - (110vh - 2px)) / 2 * -1);
            width: 50vw;
            height: 50vw;
            right: 29vw;

    
                .gs-banner-content {

                left: 11%;
                
                    p {
                        font-size: 10px;
                    }

                }

                .play-button-container {
                 
                    top: 45%;
        
                    .circle-play-button {
                     
        
                        .circle {
                            width: 44px;
                            height: 44px;
                        }
        
                        i {
                            font-size: 18px;
                            margin-top: 15px;
                            margin-left: 15px;
                        }
                    }
                }
            
        }
        
    }
    .box-clientes {
        flex-direction: column;
        height: 50%;
    }

    .footerPage{
        margin: 0;

        .fooFirst {
            flex-direction: column;
            align-items: center;
            font-size: 15px;
            padding: 5% 12%;
    
            .boxContacto {
                width: 100%;
                margin-bottom: 15px;
            }
    
            .boxRedes {
                width: 100%;
            }
        }

        .fooSecond .copy {
            margin-left: 12%;
        }
    }

    .servicios .box-services .box-btn .div-servicios .cta {
        width: 85%;

        .btn-imagen {
            margin-left: 30px;
        }
    }
    .servicios .modal-container .modal {
        width: 80%;
        height: 80%;
        padding: 20px;

        img {
            width: 100%;
            margin-left: 0;
        }

        .modal-textos {
            font-size: 15px;
        }
    }

    .nosotros .box-nosotros {
        flex-direction: column;

        .descripcion {
            font-size: 15px;
        }

        .img-nosotros,
        .img-nosotros2 {
            width: 100%;
        }

        .img-nosotros1 {
            display: none;
        }
    }
    
    .informacion{
        height: 60vh;

        .title{
           font-size: 135%; 
        }
    
    }

    .slider{
        width: 300px;
        height: 160px;
        box-shadow: 0 0 0 1px white,
                    0 0 0 2px ,
                    0 15px 10px;

       
        input + label{
            width: 15px;
            height: 15px;
            border: 1px solid black;
        }
    }

}