.slider-fotos {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider-fotos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0%;
  width: 400%;
  -webkit-animation: cambio 20s infinite;
          animation: cambio 20s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.slider-fotos li {
  list-style: none;
  width: 100%;
}

.slider-fotos li img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.contenedorVideo {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.contenedorVideo .pantallaVideo {
  position: relative;
  padding-bottom: 86.25%;
}

.contenedorVideo .pantallaVideo .closeVideo {
  font-size: 2em;
  cursor: pointer;
  margin-left: 88%;
  margin-right: 9%;
  margin-top: 4%;
  color: rgba(24, 175, 235, 0.945);
  font-weight: bold;
}

.contenedorVideo .pantallaVideo iframe,
.contenedorVideo .pantallaVideo object,
.contenedorVideo .pantallaVideo embed {
  position: absolute;
  top: 80px;
  left: 15%;
  width: 71%;
  height: 40%;
}

.lema {
  width: 100%;
  background: #fff;
}

.lema p {
  font-size: 32px;
  padding: 2% 10%;
  font-family: 'Courgette', cursive;
}

.servicios {
  background: #F1FAFB;
  padding: 2%;
}

.servicios .title {
  color: #009AD2;
  font-size: 195%;
  font-weight: bold;
}

.servicios .box-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1% 5%;
}

.servicios .box-services .box-btn {
  width: 22%;
}

.servicios .box-services .box-btn .div-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
}

.servicios .box-services .box-btn .div-servicios :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5;
  transition: 0.5;
}

.servicios .box-services .box-btn .div-servicios .cta {
  width: 95%;
}

.servicios .box-services .box-btn .div-servicios .cta .btn-imagen {
  width: 70%;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 1px solid orange;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 3px 10px 17px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 10px 17px 3px rgba(0, 0, 0, 0.75);
}

.servicios .box-services .box-btn .div-servicios .cta .btn-imagen :hover {
  background: #5f6669;
}

.servicios .modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .modal-container .modal {
  width: 55%;
  height: 65%;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  border-radius: 10px;
  padding: 10px;
}

.servicios .modal-container .modal img {
  width: 50%;
  margin-left: 25%;
}

.servicios .modal-container .modal .close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: cornflowerblue;
  cursor: pointer;
  line-height: 25px;
  border-radius: 50%;
}

.servicios .modal-container .modal-close {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.informacion {
  background: #d9e3e4;
  height: 95vh;
}

.informacion .title {
  color: #009AD2;
  font-size: 195%;
  font-weight: bold;
  padding: 2% 0 1% 2%;
}

.informacion .text-desc {
  margin-left: 60px;
}

.slider {
  width: 800px;
  height: 400px;
  margin: auto;
  position: relative;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0 0 0 10px white, 0 0 0 12px;
          box-shadow: 0 0 0 10px white, 0 0 0 12px;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.slider p {
  color: #fff;
  position: absolute;
  opacity: 0;
}

.slider input {
  display: none;
}

.slider input:checked ~ img {
  opacity: 1;
}

.slider input + label {
  position: relative;
  z-index: 50;
  margin: 10px;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
}

.slider input:checked + label {
  background: black;
  border: 2px solid #fff;
  cursor: pointer;
}

.clientes {
  padding: 2%;
  background: #fff;
}

.clientes p {
  color: #009AD2;
  font-size: 195%;
  font-weight: bold;
  padding-bottom: 15px;
}

.clientes .box-clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientes .box-clientes img {
  width: 45%;
}

.nosotros {
  padding: 1% 0;
  background: #f1f1f1;
}

.nosotros .box-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4% 4% 0% 2%;
}

.nosotros .box-nosotros .img-nosotros,
.nosotros .box-nosotros .img-nosotros1 {
  width: 50%;
  padding-left: 2%;
}

.nosotros .box-nosotros .img-nosotros2 {
  display: none;
}

.nosotros .box-nosotros .descripcion {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros .box-nosotros .descripcion h2 {
  color: #009AD2;
}

.course-banner img {
  width: 100%;
  height: 550px;
  padding-top: 4%;
}

.course-banner .circle-overlay {
  background-color: #aad7ec;
  border-radius: 50%;
  bottom: calc((10vw - (100vh - 72px)) / 2 * -1);
  width: 20vw;
  height: 20vw;
  right: 39vw;
  position: absolute;
  z-index: 60;
  -webkit-box-shadow: 0 0 0 10px white, 0 0 0 15px , 0 15px 10px;
          box-shadow: 0 0 0 10px white, 0 0 0 15px , 0 15px 10px;
}

.course-banner .circle-overlay .gs-banner-content {
  position: relative;
  z-index: 70;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: unset;
  right: calc(-18vw + 160px);
  top: 25%;
  left: 15%;
}

.course-banner .circle-overlay .gs-banner-content p {
  font-size: 15px;
}

.course-banner .circle-overlay .play-button-container {
  position: relative;
  top: 35%;
}

.course-banner .circle-overlay .play-button-container .circle-play-button {
  display: block;
  left: 50%;
  position: relative;
  width: 64px;
  z-index: 100;
}

.course-banner .circle-overlay .play-button-container .circle-play-button .circle {
  width: 64px;
  height: 64px;
  background-color: #407ef1;
  border-radius: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.course-banner .circle-overlay .play-button-container .circle-play-button i {
  font-size: 21px;
  color: #fff;
  margin-top: 23px;
  margin-left: 24px;
}

.course-banner .modal-container-video {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-banner .modal-container-video .modalVideo {
  width: 70%;
  height: 80%;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  border-radius: 10px;
  padding: 10px;
}

.course-banner .modal-container-video .modalVideo iframe,
.course-banner .modal-container-video .modalVideo object,
.course-banner .modal-container-video .modalVideo embed {
  position: absolute;
  top: 30px;
  left: 4%;
  width: 93%;
  height: 90%;
}

.course-banner .modal-container-video .modalVideo .closeVideo {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: cornflowerblue;
  cursor: pointer;
  line-height: 25px;
  border-radius: 50%;
}

.course-banner .modal-container-video .modal-closeVideo {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.staff {
  padding: 2%;
  background: #F1FAFB;
}

.staff .tittle {
  color: #009AD2;
  margin-left: 40%;
  padding: 2%;
}

.staff .box-staff1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.staff .box-staff1 .descrip-staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 2%;
  background: #c4c4c2;
  margin: 2%;
  border-radius: 12px;
}

.staff .box-staff1 .descrip-staff h2 {
  color: #009AD2;
  font-size: 120%;
  padding: 2%;
}

.staff .box-staff1 .descrip-staff img {
  width: 90%;
}

.staff .box-staff1 .descrip-staff .btn-mas {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
  background-color: #3a7388;
  height: 40px;
  width: 50%;
  border-radius: 9px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.staff .box-staff1 .descrip-staff .btn-mas:hover {
  background: #009AD2;
}

.staff .box-staff1 .descrip-staff .descrip-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff .box-staff1 .descrip-staff .descrip-container .descripcion {
  width: 40%;
  height: 55%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#3e4242));
  background: linear-gradient(180deg, #cecece 0%, #3e4242 100%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  border-radius: 10px;
  padding: 10px;
}

.staff .box-staff1 .descrip-staff .descrip-container .descripcion .closeDescrip {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #1a9bca;
  cursor: pointer;
  line-height: 25px;
  border-radius: 50%;
}

.staff .box-staff1 .descrip-staff .descrip-container .modal-closeDescrip {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.contacto {
  padding-top: 2%;
  background: #e8f1f1;
}

.contacto img {
  width: 90%;
  height: 60vh;
  padding-left: 10%;
  padding-top: 4%;
}

.contacto .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .form .title {
  color: #009AD2;
  font-size: 195%;
  font-weight: bold;
  margin: 1% 0 1% 40%;
}

.contacto .form p {
  margin-left: 15%;
}

.contacto .form .box-form {
  width: 100%;
  padding: 2% 10%;
}

.contacto .form .box-form .ident {
  margin: 10px;
  width: 47%;
  height: 45px;
  background: rgba(133, 144, 146, 0.24);
  padding: 5px;
  border: none;
  outline: none;
}

.contacto .form .box-form .asunto {
  margin: 10px;
  width: 96%;
  height: 45px;
  background: rgba(133, 144, 146, 0.24);
  padding: 5px;
  border: none;
  outline: none;
}

.contacto .form .box-form .mensaje {
  margin: 10px;
  width: 96%;
  height: 300px;
  background: rgba(133, 144, 146, 0.24);
  padding: 5px;
  border: none;
  outline: none;
  padding: 1%;
  margin-bottom: 20px;
}

.contacto .form .box-form .sendMsj {
  background: #009AD2;
  color: white;
  width: 20%;
  margin-left: 40%;
  height: 45px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.contacto .form .box-form .sendMsj:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5;
  transition: 0.5;
  font-weight: bold;
}

.portada {
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}

.container-proyectos {
  background: #F1FAFB;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-proyectos .box-proyectos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-proyectos .box-proyectos .card-proyecto {
  width: 25%;
  height: 60vh;
  margin: 2%;
}

.container-proyectos .box-proyectos .card-proyecto img {
  width: 100%;
  height: 45vh;
  border-radius: 15px 15px 0 0;
}

.container-proyectos .box-proyectos .card-proyecto .info-proyecto {
  background: #71c3db;
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-proyectos .box-proyectos .card-proyecto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5;
  transition: 0.5;
}

.title {
  color: #009AD2;
  padding: 2%;
}

.container-mapa {
  background: #d9e3e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-mapa .box-mapa {
  margin: 0 1% 4% 1%;
  width: 90%;
  height: 400px;
}

.container-mapa .box-mapa .mapa {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  border: 2px solid #198ec4;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background: #71c3db;
}

#container {
  padding: 0 8%;
}

.menu-bar {
  display: none;
}

header {
  width: 84%;
  position: fixed;
  background: #ffffff;
  /* padding: 0 8%; */
  margin-left: 8%;
}

header nav {
  background: #8c8c8b;
  z-index: 1000;
  max-width: 100%;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 15px 30px;
}

header nav ul li .intranet {
  width: 80%;
}

header nav ul li :hover {
  background: #5f6669;
}

header nav ul li :hover .children {
  display: block;
}

header nav .logo {
  margin-left: 5%;
  width: 14%;
}

header nav ul li:hover .children {
  display: block;
}

header nav ul li .children {
  display: none;
  background: #A1A39E;
  position: absolute;
  width: 140%;
  z-index: 1000;
}

header nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header nav ul li .children li a {
  display: block;
}

.contenedorSubir {
  position: fixed;
  bottom: 40px;
  right: 0px;
  width: 60px;
  height: 60px;
  z-index: -1;
}

.botonSubir {
  width: 0px;
  height: 0px;
  background: #eaecec;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.botonSubir img {
  position: absolute;
  font-size: 25px;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.show {
  z-index: 10;
}

.show .botonSubir {
  -webkit-animation: popup .3s ease-in-out;
          animation: popup .3s ease-in-out;
  width: 66px;
  height: 66px;
  z-index: 11;
}

.show img {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 66px;
    height: 66px;
  }
}

@keyframes popup {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 66px;
    height: 66px;
  }
}

.footerPage {
  background: #a5a59e;
  padding-top: 2%;
  margin: 0 8%;
}

.footerPage .fooFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footerPage .fooFirst .boxLogo {
  width: 35%;
  padding: 5% 6%;
}

.footerPage .fooFirst .boxContacto {
  width: 40%;
}

.footerPage .fooFirst .boxRedes {
  width: 25%;
}

.footerPage .fooFirst .boxRedes img {
  padding: 9px;
}

.footerPage .fooSecond {
  background: #a5a59e;
}

.footerPage .fooSecond .copy {
  margin-left: 35%;
  font-weight: bold;
  font-size: 12px;
  background: #a5a59e;
}

@media screen and (max-width: 800px) {
  body {
    padding-top: 60px;
  }
  body .title {
    font-size: 135%;
  }
  #container {
    padding: 0;
  }
  .menu-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #5cbcdf;
  }
  .menu-bar .bt-menu {
    display: block;
    padding: 12px;
    color: white;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  .menu-bar .iconMenu {
    float: right;
    font-size: 30px;
  }
  header {
    margin: 0;
  }
  header nav {
    width: 80%;
    height: calc(100% - 60px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
  }
  header nav ul {
    width: 100%;
  }
  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  header nav ul li a {
    display: block;
  }
  header nav ul li .children {
    width: 100%;
    position: relative;
  }
  header nav ul li .children li a {
    margin-left: 20px;
  }
  header nav li:hover .children {
    display: none;
  }
  .logo {
    display: none;
  }
  .lema p {
    font-size: 18px;
  }
  .servicios .title {
    font-size: 135%;
  }
  .servicios .box-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios .box-services .box-btn {
    width: 80%;
    margin: 2% 0;
  }
  .servicios .box-services .box-btn .div-servicios .btn-imagen {
    width: 60%;
  }
  .box-clientes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
  }
  .footerPage {
    margin: 0;
  }
  .footerPage .fooFirst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    padding: 5% 12%;
  }
  .footerPage .fooFirst .boxContacto {
    width: 100%;
    margin-bottom: 15px;
  }
  .footerPage .fooFirst .boxRedes {
    width: 100%;
  }
  .footerPage .fooSecond .copy {
    margin-left: 12%;
  }
  .servicios .modal-container .modal {
    width: 80%;
    height: 80%;
    padding: 20px;
  }
  .servicios .modal-container .modal img {
    width: 100%;
    margin-left: 0;
  }
  .servicios .modal-container .modal .modal-textos {
    font-size: 15px;
  }
  .nosotros .box-nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .box-nosotros .descripcion {
    font-size: 15px;
  }
  .nosotros .box-nosotros .img-nosotros,
  .nosotros .box-nosotros .img-nosotros2 {
    width: 100%;
  }
  .nosotros .box-nosotros .img-nosotros1 {
    display: none;
  }
  .informacion {
    height: 60vh;
  }
  .informacion .title {
    font-size: 135%;
  }
  .slider {
    width: 300px;
    height: 220px;
    -webkit-box-shadow: 0 0 0 1px white, 0 0 0 2px , 0 15px 10px;
            box-shadow: 0 0 0 1px white, 0 0 0 2px , 0 15px 10px;
  }
  .slider input + label {
    width: 15px;
    height: 15px;
    border: 1px solid black;
  }
}
/*# sourceMappingURL=style.css.map */