*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}


.menu-bar{
    display: none;
}

header{
    width: 100%;
    margin: 10px 0;
    // background: #A1A39E ;

    nav{
        background: #A1A39E;
        // border: 1px solid orange;
        z-index: 1000;
        max-width: 100%;
        width: 100%;
        height: 50px;
        // margin: 0 20% auto;


        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
        
            li{
                display: inline-block;
                position: relative;

                a{
                    color: white;
                    display: block;
                    text-decoration: none;
                    padding: 12px 30px;
                }

                :hover {
                    background: rgb(95, 102, 105);   
                    
                    .children{
                        display: block;
                    }
                }
            }
        }

        .logo{
            margin-left: 2%;
           
        }
    }

    nav ul li:hover .children{
        display: block;
    }

    nav ul li .children{
        display: none;
        background: #A1A39E;
        position: absolute;
        width: 140%;
        z-index: 1000;

        li{
            display: block;
            overflow: hidden;
            border-bottom: 1px solid rgba(255,255,255,.5);
        }

        li a {
          display: block;
        }
    }
}





// galeria de fotos del home -----------------------------------------------------------------------------

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;

    ul{
        display: flex;
        padding: 0%;
        width: 400%;

        animation: cambio 20s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }

    li{
        list-style: none;
        width: 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}


// section lema -----------------------------------------------------------------------------

.lema{
    width: 100%;
    // height: 120px;
    background: #C4C4C4;
    

    p{
        font-size: 32px;
        padding: 2% 10%;
        font-family: 'Courgette', cursive;
    }
}

// section servicios -----------------------------------------------------------------------------

.servicios{
    background: #F1FAFB;
    padding: 2%;

    .title{
        color: #009AD2;
        font-size: 195%;
        font-weight: bold;
    }

    .box-btn{
        display: flex;

        .div-servicios{
            margin: 2em 4em;
                :hover{
                    transform: scale(1.1);
                    transition: 0.5;  
                }

                .btn-imagen{
                    // background-image:url(../assets/tasaciones.png);
                    // background-repeat:no-repeat;
                    // height:100px;
                    // width:100px;
                    // background-position:center;
                    // padding: 10px;
                    width: 70%;
                    border-radius: 50%;
                    border: 1px solid orange;
                    cursor: pointer;
                    // outline: none;
                    box-shadow: 3px 10px 17px 3px rgba(0,0,0,0.75);
                
                    :hover{
                        background: rgb(95, 102, 105);   
                    }
                  }         
        }

        
    }
}









  // style mobile -----------------------------------------------------------------------------
  @media screen and (max-width: 800px) {

    body{
        padding-top: 60px;
    }

    .menu-bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #5cbcdf;

        .bt-menu{
            display: block;
            padding: 12px;
            color: white;
            overflow: hidden;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            // background-image: url(../assets/logo.png);
            // background-repeat: no-repeat;
        }

        .iconMenu{
            float: right;
            font-size: 30px;

        }
    }

    header {
        margin: 0;
    }
    header nav{
        width: 80%;
        height: calc(100% - 60px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;

        ul {
            width: 100%;
        }

        ul li{
            display: block;
            border-bottom: 1px solid rgba(255,255,255,.5);

            a{
                display: block;
            }

            .children{
                width: 100%;
                position: relative;
            }

            .children li a{
                margin-left: 20px;
            }
        }

        li:hover .children{
            display: none;
        }
    }

    .logo{
        display: none;
    }

    
    .lema p{
        font-size: 18px;
      
    }

}