@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar {
  display: none;
}

.header-web {
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0%;
}

.header-web nav {
  z-index: 1000;
  max-width: 100%;
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-web nav ul {
  list-style: none;
}

.header-web nav ul li {
  display: inline-block;
  position: relative;
}

.header-web nav ul li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 20%;
  font-size: 17px;
  font-weight: 500;
}

.header-web nav ul li :hover {
  color: #fc7617;
}

.header-web nav ul li .intranet {
  background-color: #009AD2;
  height: 25px;
  width: 95px;
  border-radius: 25px;
}

.header-web nav ul li .intranet i {
  margin: 0 0 0 5px;
}

.header-web nav .logo {
  margin-left: 5%;
  margin-top: 3%;
  width: 13%;
  height: 55px;
}

.header-web nav ul li:hover .children {
  display: block;
}

.header-web nav ul li .children {
  display: none;
  background: #A1A39E;
  position: absolute;
  width: 140%;
  z-index: 1000;
}

.header-web nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-web nav ul li .children li a {
  display: block;
}

.contenedorSubir {
  position: fixed;
  bottom: 40px;
  right: 0px;
  width: 60px;
  height: 60px;
  z-index: -1;
}

.botonSubir {
  width: 0px;
  height: 0px;
  background: #eaecec;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.botonSubir img {
  position: absolute;
  font-size: 25px;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.show {
  z-index: 10;
}

.show .botonSubir {
  -webkit-animation: popup .3s ease-in-out;
          animation: popup .3s ease-in-out;
  width: 66px;
  height: 66px;
  z-index: 11;
}

.show img {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 66px;
    height: 66px;
  }
}

@keyframes popup {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 66px;
    height: 66px;
  }
}

.flexslider {
  width: 100%;
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexslider ul img {
  width: 100%;
  height: 660px;
}

.flexslider .flex-control-nav.flex-control-paging {
  width: 120px;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  list-style: none;
  position: absolute;
  bottom: 40px;
  z-index: 3;
}

.flexslider .flex-control-nav.flex-control-paging li {
  display: inline-block;
  margin: 0 5px;
}

.flexslider .flex-control-nav.flex-control-paging li a {
  display: block;
  width: 30px;
  height: 8px;
  background: #ffffff;
  text-indent: -9999px;
}

.flexslider .flex-control-nav li a.flex-active {
  background: #009AD2;
}

.flex-direction-nav {
  z-index: 3;
  list-style: none;
}

.flex-direction-nav a {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav a.flex-next::before {
  content: "\f105";
}

.flex-direction-nav .flex-prev {
  left: 0px;
  opacity: 0;
}

.flex-direction-nav .flex-next {
  right: 0px;
  opacity: 0;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 15px;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 15px;
}

.flex-direction-nav a::before {
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
  color: #ffffff;
}

.informative-data {
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informative-data .detailed-information,
.informative-data .detailed-information-on {
  margin: 4% 0% 4% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.informative-data .detailed-information .image-detailed,
.informative-data .detailed-information-on .image-detailed {
  width: 40%;
}

.informative-data .detailed-information .image-detailed img,
.informative-data .detailed-information-on .image-detailed img {
  width: 80%;
}

.informative-data .detailed-information .detailed,
.informative-data .detailed-information-on .detailed {
  color: #4d4e52;
}

.informative-data .detailed-information .detailed h2,
.informative-data .detailed-information-on .detailed h2 {
  font-size: 30px;
}

.informative-data .detailed-information-on {
  margin: 4% 2% 4% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.services-container .service-title h1 {
  color: #009AD2;
  font-size: 30px;
}

.services-container .service-title p,
.services-container .service-title img {
  color: #4d4e52;
  margin-left: 25%;
}

.services-container .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  width: 70%;
  color: #4c4c4c;
}

.services-container .service-list .service-img {
  width: 50%;
  padding: 0 2%;
}

.services-container .service-list .service-img img {
  width: 100%;
}

.services-container .service-list .service-detailed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  padding: 0 2%;
}

.services-container .service-list .service-detailed .detailed {
  width: 80%;
  text-align: left;
}

.services-container .service-list .service-detailed .detailed p {
  margin-top: 4%;
  margin-right: 10%;
  text-align: justify;
  line-height: 1.2;
}

.services-container .service-list .service-detailed1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  padding: 0 2%;
}

.services-container .service-list .service-detailed1 .detailed {
  width: 90%;
  text-align: right;
}

.services-container .service-list .service-detailed1 .detailed p {
  margin-top: 4%;
  margin-left: 20%;
  text-align: justify;
  line-height: 1.2;
}

.projects-container {
  background: #eaeaea;
  padding: 4% 5%;
}

.projects-container .projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container .projects-title h1 {
  color: #009AD2;
  font-size: 30px;
}

.projects-container .projects-title p,
.projects-container .projects-title img {
  color: #4d4e52;
}

.projects-container .carousel-contenedor {
  position: relative;
}

.projects-container .carousel-contenedor .anterior-carousel,
.projects-container .carousel-contenedor .siguiente-carousel {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 65px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #0c0c0c;
  opacity: 20%;
  outline: none;
}

.projects-container .carousel-contenedor .carousel-lista {
  margin-top: 2%;
  width: 100%;
  height: 400px;
  color: #4c4c4c;
}

.projects-container .carousel-contenedor .anterior-carousel:hover,
.projects-container .carousel-contenedor .siguiente-carousel:hover {
  opacity: 100%;
}

.projects-container .carousel-contenedor .anterior-carousel {
  left: -50px;
}

.projects-container .carousel-contenedor .siguiente-carousel {
  right: -50px;
}

.projects-container .carousel-contenedor .carousel-element {
  text-align: center;
  color: #4c4c4c;
}

.projects-container .carousel-contenedor .carousel-element figure {
  position: relative;
  width: 100%;
  height: 90%;
}

.projects-container .carousel-contenedor .carousel-element figure img {
  width: 90%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.projects-container .carousel-contenedor .carousel-element figure .capa {
  position: absolute;
  top: 0;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  background: rgba(14, 139, 211, 0.659);
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.projects-container .carousel-contenedor .carousel-element figure .capa .boton_mas {
  margin-top: 45%;
  width: 22%;
  height: 20%;
  color: white;
}

.projects-container .carousel-contenedor .carousel-element :hover > .capa {
  opacity: 1;
  visibility: visible;
}

.projects-container .carousel-contenedor .carousel-element div h1 {
  font-size: 16px;
}

.projects-container .carousel-contenedor .carousel-element div p {
  font-size: 13px;
}

.projects-container .carousel-indicadores .glider-dot {
  display: none;
}

.sliderComments {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../assets/testimonios/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sliderComments .flex-control-nav.flex-control-paging {
  width: 120px;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  list-style: none;
  position: absolute;
  bottom: -3260px;
  z-index: 3;
}

.sliderComments .flex-control-nav.flex-control-paging li {
  display: inline-block;
  margin: 0 5px;
}

.sliderComments .flex-control-nav.flex-control-paging li a {
  display: block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  text-indent: -9999px;
  border-radius: 50%;
}

.sliderComments .flex-control-nav li a.flex-active {
  background: #2b2c2c;
}

.sliderComments .flex-direction-nav {
  z-index: 3;
  list-style: none;
}

.sliderComments .flex-direction-nav a {
  display: none;
}

.caption {
  width: 35%;
  height: 400px;
  position: absolute;
  z-index: 2;
  margin: 12% 0 0 33%;
}

.caption .comment-text {
  background: rgba(255, 255, 255, 0.859);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.859);
  padding: 5%;
  border-radius: 10px;
}

.caption .comment-text::before {
  content: "";
  position: absolute;
  top: 180px;
  left: 40px;
  width: 0px;
  height: 0px;
  border-top: 20px solid rgba(255, 255, 255, 0.859);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.caption .comment-marca {
  margin: 8% 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.caption .comment-marca img {
  width: 15%;
  height: 65px;
  border-radius: 50%;
}

.caption .comment-marca .marca-detail {
  margin-left: 5%;
}

.caption .comment-marca .marca-detail p {
  font-size: 14px;
  font-weight: 500;
}

.footerPage {
  background: #a5a59e;
  padding-top: 2%;
}

.footerPage .fooFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footerPage .fooFirst .boxLogo {
  width: 35%;
  padding: 5% 6%;
}

.footerPage .fooFirst .boxContacto {
  width: 40%;
}

.footerPage .fooFirst .boxRedes {
  width: 25%;
}

.footerPage .fooFirst .boxRedes img {
  padding: 9px;
}

.footerPage .fooSecond {
  background: #a5a59e;
}

.footerPage .fooSecond .copy {
  margin-left: 35%;
  font-weight: bold;
  font-size: 12px;
  background: #a5a59e;
}

@media screen and (max-width: 800px) {
  .body-web {
    padding-top: 60px;
  }
  .body-web .title {
    font-size: 135%;
  }
  #container {
    padding: 0;
  }
  .menu-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #5cbcdf;
  }
  .menu-bar .bt-menu {
    display: block;
    padding: 12px;
    color: white;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  .menu-bar .iconMenu {
    float: right;
    font-size: 30px;
  }
  .header-web {
    margin: 0;
    margin-left: 0;
  }
  .header-web nav {
    width: 80%;
    height: calc(100% - 60px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
  }
  .header-web nav ul {
    width: 100%;
  }
  .header-web nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .header-web nav ul li a {
    display: block;
  }
  .header-web nav ul li .children {
    width: 100%;
    position: relative;
  }
  .header-web nav ul li .children li a {
    margin-left: 20px;
  }
  .header-web nav li:hover .children {
    display: none;
  }
  .logo {
    display: none;
  }
  .lema p {
    font-size: 18px;
  }
  .servicios .title {
    font-size: 135%;
  }
  .servicios .box-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios .box-services .box-btn {
    width: 80%;
    margin: 2% 0;
  }
  .servicios .box-services .box-btn .div-servicios .btn-imagen {
    width: 60%;
  }
  .course-banner img {
    width: 100%;
    height: 250px;
    padding-top: 0%;
  }
  .course-banner .circle-overlay {
    bottom: calc((10vw - (110vh - 2px)) / 2 * -1);
    width: 50vw;
    height: 50vw;
    right: 29vw;
  }
  .course-banner .circle-overlay .gs-banner-content {
    left: 11%;
  }
  .course-banner .circle-overlay .gs-banner-content p {
    font-size: 10px;
  }
  .course-banner .circle-overlay .play-button-container {
    top: 45%;
  }
  .course-banner .circle-overlay .play-button-container .circle-play-button .circle {
    width: 44px;
    height: 44px;
  }
  .course-banner .circle-overlay .play-button-container .circle-play-button i {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .box-clientes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
  }
  .footerPage {
    margin: 0;
  }
  .footerPage .fooFirst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    padding: 5% 12%;
  }
  .footerPage .fooFirst .boxContacto {
    width: 100%;
    margin-bottom: 15px;
  }
  .footerPage .fooFirst .boxRedes {
    width: 100%;
  }
  .footerPage .fooSecond .copy {
    margin-left: 12%;
  }
  .servicios .box-services .box-btn .div-servicios .cta {
    width: 85%;
  }
  .servicios .box-services .box-btn .div-servicios .cta .btn-imagen {
    margin-left: 30px;
  }
  .servicios .modal-container .modal {
    width: 80%;
    height: 80%;
    padding: 20px;
  }
  .servicios .modal-container .modal img {
    width: 100%;
    margin-left: 0;
  }
  .servicios .modal-container .modal .modal-textos {
    font-size: 15px;
  }
  .nosotros .box-nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .box-nosotros .descripcion {
    font-size: 15px;
  }
  .nosotros .box-nosotros .img-nosotros,
  .nosotros .box-nosotros .img-nosotros2 {
    width: 100%;
  }
  .nosotros .box-nosotros .img-nosotros1 {
    display: none;
  }
  .informacion {
    height: 60vh;
  }
  .informacion .title {
    font-size: 135%;
  }
  .slider {
    width: 300px;
    height: 160px;
    -webkit-box-shadow: 0 0 0 1px white, 0 0 0 2px, 0 15px 10px;
            box-shadow: 0 0 0 1px white, 0 0 0 2px, 0 15px 10px;
  }
  .slider input + label {
    width: 15px;
    height: 15px;
    border: 1px solid black;
  }
}
/*# sourceMappingURL=style.css.map */